
#map { position: relative; padding-bottom: 40%; top: 30%;  width: auto; padding-top: 40%;}

.mapboxgl-popup {
    max-width: 400px;
    transition: none !important;
    font:
        12px/20px 'Helvetica Neue',
        Arial,
        Helvetica,
        sans-serif;
}

map_p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}