body { margin: 0; padding: 0; }
#map { position: relative; padding-bottom: 30%; top: 0; bottom: 0; width: auto; }

.mapboxgl-popup {
    max-width: 400px;
    font:
        12px/20px 'Helvetica Neue',
        Arial,
        Helvetica,
        sans-serif;
}