{% extends 'base.html' %}
{% block body %}
<h1>Sobre Nosotros</h1>
<p>Somos una comunidad que cree que todos merecen un lugar donde encontrar refugio. Nuestra mision es proporcionar ayuda y esperanza a todo aquel que lo necesite, ya sea con un techo y cama caliente para dormir, o un plato de comida para pasar la noche.

    Nos hemos comprometido a brindar asistencia inmediata a quienes la necesitan. Trabajamos en estrecha colaboración con refugios, organizaciones sin fines de lucro y voluntarios dedicados para ofrecer recursos vitales, desde refugio y comida y hasta atención médica.

    Nuestro equipo está formado por individuos apasionados y comprometidos que trabajan incansablemente para ofrecer soluciones prácticas y sostenibles. Creemos en el poder de la solidaridad y la empatía para crear un mundo donde todos la oportunidad de prosperar.
    
    Únete a nosotros en nuestro viaje para brindar esperanza y dignidad a aquellos que más lo necesitan. Juntos, podemos marcar la diferencia y construir un futuro más brillante para todos.</p>
{% endblock %}
