{% extends 'base.html' %}
{% block body %}
<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(images/img_1.jpg);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-7 text-left">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeInUp">
            <h1 class="mb30">¿Quiénes somos?</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div id="gtco-main">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-12">
        <ul id="gtco-post-list">
          <li class="full entry animate-box" data-animate-effect="fadeIn"> 
              <div class="entry-desc">
                <h3>Somos Calle Solidaria </h3>
                <p>Somos un grupo solidario que nos preocupa la situación que viven muchas personas. Con el objetivo de ayudar nos propusimos
                  crear una red de refugios, paradores y comedores que aunque no resuelvan la situación, ayudan a paliarla.</p>
                  <h3>¿Cómo funciona la página? </h3>
                  <p> En esta página puedes encontrar los diferentes lugares que se inscribieron para ayudarte. En la página principal hay un catálogo donde puedes acceder clickeando, solo tienes que tocar 
                    el que necesites y vas a poder ver una vista más detallada. Si clickeás la imagen a continuación, podrás acceder directamente a toda esa información.</p>
                    <div  data-mensaje="Ir a la sección de refugios">
                      <a href="{{url_for('feed')}}">
                        <img src="{{url_for('static', filename='/images/foto_ayuda.jpeg')}}" alt="Foto Ayuda">
                      </a>
                  <h3>¿Cómo podés ayudar? </h3>
                    <p>Podés colaborar de las siguientes maneras: Si conocés un lugar que pueda servir como refugio, podeś clickear la primera imagen, que te llevará a una página en donde podrás colocar los datos para que tu refugio esté disponible. 
                        Por otro lado, si querés trabajar como voluntario en alguno de los refugios, podés clickear la segunda imagen, y cargar tus datos para empezar a servir en el lugar que te quede más cómodo.</p>
                        <a href="{{url_for('cargar_voluntario')}}" data-mensaje="Agregar Voluntario">
                          <img src="{{url_for('static', filename='/images/refugios.jpg')}}" alt="Agregar Refugio" class="ultima-imagen">
                        </a>
                        <a href="{{url_for('cargar_refugio')}}" data-mensaje="Agregar Refugio">
                          <img src="{{url_for('static', filename='/images/help.png')}}" alt="Agregar Refugio" class="ultima-imagen">
                        </a>
              </div>
</div>
{% endblock %}
