<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Calle Solidaria</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
   <!-- style css -->
   <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
   <!-- Responsive-->
   <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css')}}">
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="{{url_for('static', filename='css/jquery.mCustomScrollbar.min.css')}}">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <!-- owl stylesheets -->
   <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">
   <link rel="stylesheet" href="{{url_for('static', filename='css/owl.theme.default.min.css')}}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

   {% block head %}{% endblock %}
</head>

<body>
   <!-- header section start -->
   <div class="header_section">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="logo"><a href="{{url_for('home')}}"><img src="{{url_for('static', filename='images/callesolidaria.png',  _external=True)}}"></a></div>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('home')}}">Refugios</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{{url_for('home')}}">Mapa</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{{url_for('home')}}">Agregar refugio</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{{url_for('home')}}">Sobre Nosotros</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{{url_for('home')}}">Voluntariado</a>
               </li>
            </ul>
         </div>
      </nav>
      <!-- header section end -->
      {% block body %}{% endblock %}
   <!-- footer section start -->
   <div class="footer_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-sm-6">
               <div class="footer_logo"><a href="{{url_for('home')}}"><img src="{{url_for('static', filename='images/callesolidaria.png')}}"></a></div>
               <h1 class="adderss_text">Contactanos</h1>
               <div class="map_icon"><img src="{{url_for('static', filename='images/call-icon.png')}}"><span class="paddlin_left_0">+1140507897</span></div>
               <div class="map_icon"><img src="{{url_for('static', filename='images/mail-icon.png')}}"><span class="paddlin_left_0">callesolidaria@gmail.com</span></div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="adderss_text">Links Útiles</h1>
               <div class="social_icon">
                  <ul>
                     <li><a href="#"><img src="{{url_for('static', filename='images/fb-icon.png')}}"></a></li>
                     <li><a href="#"><img src="{{url_for('static', filename='images/twitter-icon.png')}}"></a></li>
                     <li><a href="#"><img src="{{url_for('static', filename='images/instagram-icon.png')}}"></a></li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-3 col-sm-6">
               <h1 class="adderss_text">Novedades</h1>
               <input type="text" class="Enter_text" placeholder="Ingresa tu email" name="Enter your Emil">
               <div class="subscribe_bt"><a href="#">Suscribite</a></div>

            </div>
         </div>
      </div>
   </div>
   <!-- footer section end -->
   <!-- Javascript files-->
   <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
   <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
   <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
   <script src="{{url_for('static', filename='js/jquery-3.0.0.min.js')}}"></script>
   <script src="{{url_for('static', filename='js/plugin.js')}}"></script>
   <!-- sidebar -->
   <script src="{{url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
   <script src="{{url_for('static', filename='js/custom.js')}}"></script>
   <!-- javascript -->
   <script src="{{url_for('static', filename='js/owl.carousel.js')}}"></script>
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>

</html>