{% extends 'base.html' %}
{% block body %}
<h1>Formulario para agregar tu refugio</h1>
<p> Completá los siguientes datos y tu refugio ya estará cargado en el mapa</p>
<div class="Formulario_refugios">
    <form action="{{url_for('')}}" method="post" enctype="multipart/form-data">
        <label for="nombre_refugio">Nombre del refugio: </label>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
        <label for="tipo_refugio">Tipo del refugio: </label>
        <input type="text" id="tipo" name="tipo" placeholder = "Tipo de refugio" required>
        <label for="Direccion">Dirección: </label>
        <input type="text" id="direccion" name="direccion" placeholder = "Direccción" required>
        <label for="telefono">Teléfono</label>
        <input type = "number" id="telefono" name="telefono" placeholder="Tel" required>
        <label for="imagen">Imagen del refugio</label>
        <input type="file" id="imagen" name="imagen" placeholder="Imagen" accept="image/*" required>
        <label for="descripcion">descripcion</label>
        <input type="text" id="descripcion" name="imagen" placeholder="Descripción">      
        <button type="submit">Registrar</button> 
</div>
{% endblock %}