{% extends "base.html" %}
{% block head %}
<style>
  .centered__content {
    padding-left: 500px;
    margin: auto;
    transform: scale(1);

  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
  }

  .title {
    font-size: 28px;
    color: #07ead3;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }

  .title::before,
  .title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #07ead3;
  }

  .title::before {
    width: 18px;
    height: 18px;
    background-color: #07ead3;
  }

  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }

  .message,
  .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }

  .signin {
    text-align: center;
  }

  .signin a {
    color: #07ead3;
  }

  .signin a:hover {
    text-decoration: underline #07ead3;
  }

  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }

  .form label {
    position: relative;
  }

  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }

  .form label .input+span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }

  .form label .input:placeholder-shown+span {
    top: 15px;
    font-size: 0.9em;
  }

  .form label .input:focus+span,
  .form label .input:valid+span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }

  .form label .input:valid+span {
    color: green;
  }

  .submit {
    border: none;
    outline: none;
    background-color: #07ead3;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }

  .submit:hover {
    background-color: rgb(56, 90, 194);
  }

  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }

    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
</style>
{% endblock %}


{% block body %}
<div class="d-flex justify-content-center">
  <div class="col-lg-6 col-12 d-flex flex-column align-items-center">
    <form class="form" id="formularioRefugio">
      <p class="title">Agrega tu refugio </p>
      <div class="flex">
        <label for="nombre_refugio">
          <input type="text" id="nombre_refugio" name="nombre_refugio" placeholder="Nombre" required class="input">
        </label>
        <label for="direccion_refugio">
          <input type="text" id="direccion_refugio" name="direccion" placeholder="Direccción" required class="input">
        </label>
      </div>
      <label for="descripcion_refugio">
        <input type="text" id="descripcion_refugio" name="descripcion" placeholder="Descripción" class="input">
      </label>
      <label for="tipo_refugio">
        <input type="text" id="tipo_refugio" name="tipo_refugio" placeholder="Tipo de refugio" required class="input">
      </label>
      <label for="telefono_refugio">
        <input type="number" id="telefono_refugio" name="telefono" placeholder="Teléfono" required class="input">
      </label>
      <label for="imagen_refugio">
        <input type="text" id="imagen_refugio" name="link_foto" placeholder="Link de la imagen" class="input" >
      </label>

      <button class="py-2 bg-success border-0 rounded text-white" type="submit">Aceptar</button>
    </form>
  </div>
</div>


{% endblock %}