{% extends 'base.html' %}

{% block body %}

<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(images/img_1.jpg);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-7 text-left">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeInUp">
            <h1>Refugio: Manos Abiertas</h1>
            <a href="https://google.com/maps/search/?api=1&query=paseo+colon+850" target="_blank">
              <button class="px-3 py-2 rounded border border-primary bg-primary text-white">¿Cómo ir?</button>
            </a>
            <a href="{{url_for('edicion_refugio')}}" target="_blank">
              <button class="px-3 py-2 rounded border border-primary bg-primary text-white">Editar</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div id="gtco-main">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-12">
        <ul id="gtco-post-list">
              <div class="entry-desc">
                <h3>El refugio "Manos Abiertas" abrió sus puertas en 2016 y desde entonces ayuda a quienes mas lo 
                  necesitan. Si necesitás un lugar para dormir esta noche no dudes en venir.</h3>
                  <img class="img-fluid img-thumbnail"
                  src="https://media.lacapital.com.ar/p/90db6f8482a928b1aa2fd723ea31f14f/adjuntos/203/imagenes/100/071/0100071190/1200x675/smart/image-13png.png"
                  alt="Nombre de la persona"
                  style="width: 100%; height: auto; border-radius: 4px;"
                  />
                <p>Teléfono: 1234-6789</p>
                <p>Dirección: Paseo Colón 850</p>
                <p>Voluntarios:</p>
                <a href="{{url_for('detalles_voluntario')}}">Jhon Doe</a>
              </div>
{% endblock %}