{% extends 'base.html' %}

{% block body %}
<main class="detalle-vol container-fluid d-flex justify-content-center my-4">
  <div class="col-7 d-flex justify-content-around">
    <section class="contenedor_img-perfil"
      style="max-width: 350px;"
      >
      <img class="voluntario_img-perfil img-fluid img-thumbnail"
        src="https://img.freepik.com/vector-premium/icono-perfil-humano-ilustracion-vectorial-genero_276184-158.jpg"
        alt="Nombre de la persona"
        style="max-width: 100%; height: auto; border-radius: 4px;"
        /> <!-- Deberia ser dinamico -->
    </section>
    <section class="contenedor-informacion d-flex flex-column justify-content-between ml-5">
      <div class="informacion">
        <h2>Voluntario: John Doe</h2> <!-- Esto deberia ser dinamico -->
        <h3>Refugio: Manos Abiertas</h3> <!-- Quiza podria ser un link a la pagina del refugio -->
        <p class="m-0">Tipo de ayuda voluntaria: Cocinero</p> <!-- Esto deberia ser dinamico -->
        <ul class="">
          Contacto:
          <li>Telefono: +54 9 11 ****-****</li>
          <li>Email: johndoe@example.com</li>
        </ul>
      </div>
      <button class="py-2 px-4 align-self-end justify- mb-3 rounded bg-danger text-white">Eliminar</button>
    </section>
  </div>
</main>
{% endblock %}