{% extends 'base.html' %}
{% block body %}
<h1>Editando voluntario</h1>
<p>Ingrese los nuevos datos:</p>
</br>
<div class="editar_voluntario">
    <form action="{{ url_for('edicion_voluntario') }}" method="post"> <!-- meter la función encargada de este html en url_for('') cuando se termine app.py  -->
        <label for="nombre_voluntario">Nombre:</label>
        <input type="text" id="nombre_voluntario" name="fnombre_voluntario" placeholder="Nuevo nombre">
        </br>
        <label for="puesto_voluntario">Puesto:</label>
        <input type="text" id="puesto_voluntario" name="fpuesto_voluntario" placeholder="Nuevo puesto">
        </br>
        <label for="telefono_voluntario">Telefono:</label>
        <input type="text" id="telefono_voluntario" name="ftelefono_voluntario" placeholder="Nuevo teléfono">
        </br>
        <label for="cuil_voluntario">CUIL:</label>
        <input type="text" id="cuil_voluntario" name="fcuil_voluntario" placeholder="Nuevo CUIL">
        </br>
        <label for="foto_voluntario">Link para nueva foto del voluntario:</label>
        <input type="text" id="foto_voluntario" name="ffoto_voluntario" placeholder="Nueva foto">
        </br>
        <button type="submit">Enviar</button>
    </form>
</div>
{% endblock %}