{% extends "base.html" %}
{% block body%}
<style>
  #fotos{
    width: 90%;
  }
</style>


<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(images/img_1.jpg);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-7 text-left">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeInUp">
            <h1 class="mb30"><a href="#">Encontra todos nuestros refugios</a></h1>
            <p><a href="#" class="text-link">Clickea el que te interese para encontrar mas información</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div id="gtco-main">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-12">
        <ul id="gtco-post-list">
          <li class="full entry animate-box" data-animate-effect="fadeIn"> 
            <a href="{{ url_for('detalles_refugio') }}">
              <div class="entry-img">
                <img id="fotos"  class="entry-img" src="https://media.lacapital.com.ar/p/90db6f8482a928b1aa2fd723ea31f14f/adjuntos/203/imagenes/100/071/0100071190/1200x675/smart/image-13png.png" alt="Manos Abiertas Refugio">
              </div>
              <div class="entry-desc">
                <h3>Manos Abiertas Refugio</h3>
                <p>Av. Paseo Colón 850</p>
                <p>El refugio "Manos Abiertas" abrió sus puertas en 2016 y desde entonces ayuda a quienes más lo necesitan. Si necesitás un lugar para dormir esta noche no dudes en venir.</p>
                <p>Tipo de refugio: Hospedaje por la noche</p>
                <p>Teléfono: 1234-6789</p>
                <p>Mail: manosabiertas@example.com</p>
              </div>
{% endblock %}


